body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #191919;
    line-height: 22px;
    background-image: url(../img/bg-white.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    }
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:#818181;
    line-height: 28px;
    
}
ul { list-style-type: none; }

.title-h1-12-stat {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 0;
    margin: 0 0 0 17px;
    }
.title-h1-12-stat span {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 0;
    margin: 0 auto;
}
.wrap {max-width: 1180px; 
    margin: 0 auto;
    padding-left: 15px ;
    padding-right: 15px;
}

/* HEADER */
.box-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 34px 0;

}

.logo {display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 31px;
    height: 28px;
    }
.nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-size: 12px;
color: #191919;
text-transform: uppercase;
font-weight: 700;
list-style-type: none;
margin: 0;
padding: 0;
letter-spacing: 1.9px;
}

.nav>li {
padding: 0 12px 0 11px;
}

.nav-item {
color: #191919;
-webkit-transition: 0.4s;
transition: 0.4s;
}
.nav-item:hover {
color: #10c9c3;
}
/* DEVELOP */
.box-develop {
    width: 546px;
    text-align: center;
    margin: 0 auto;
}
.title-h1-38-develop {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #fff;
letter-spacing: 1px;
padding: 0;
}
.pgf-content-18-develop{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.3px;
    font-weight: 500;
    padding: 0;
}

/* STAT personal*/

.box-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 96px 0;
    flex-wrap: wrap;
}
.flex-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
            margin-bottom: 22px;
            width: 193px;
}

.portfolio-img {
    background-image: url(../img/portfolio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 36px;
}
.clock-img {
    background-image: url(../img/clock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.star-img {
    background-image: url(../img/star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 36px;
}
.like-img {
    background-image: url(../img/like.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 41px;
    height: 36px;
}

/* ABOUT ME */

.flex-about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
padding: 0;
}
.box-about-img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.box-about-content {
    width: 50%;
    margin: 0 auto;
    padding: 77px 82px 15px;
}
.title-h1-30 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
letter-spacing: 0px;
padding: 0;
margin: 0 auto;
}
.pgf-content-16-about {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
    line-height: 1.4em;
    padding-top: 10px;
    padding-bottom: 17px; white-space: pre-line;
}
.painting{
    width: 223px;
    height: 63px;
}

/* КНОПКИ */
    .btn-primary {color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        background-color: #10c9c3;
        border: 1px solid #10c9c3;
        padding: 20px 45px;
        letter-spacing: 1.5px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
        .btn-primary:hover {color:#10c9c3;
        background-color: #fff;
        }

/* PROJECT or form pre*/
 
.box-form-content {
    width: 535px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 17px;
}
.title-h1-30 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
letter-spacing: 0px;
padding: 0;
margin: 0 auto;
}
.pgf-content-16 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
    line-height: 1.4em;
    padding-top: 10px;
    padding-bottom: 29px;
}

/* FOOTER */

.box-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   
    }
    
    .title-h1-18 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        line-height: 1.9em;
        padding: 0;
        margin: 0 auto;
    }
    .title-h1-18 span {
        display: block;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        line-height: 1.9em;
    }
    .title-h1-15-footer {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        line-height: 1.9em;
        padding: 0;
        margin: 0 auto;
    }
    .title-h1-15-footer span {
        display: block;
    }
    .title-h1-15-footer:hover {
        color: #10c9c3;
    }
    .flex-sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    }
    .square-footer {
        -ms-flex-preferred-size: 250px;
            flex-basis: 250px;
        margin: 0 auto;
    }
    .square-footer-contact {
        -ms-flex-preferred-size: 160px;
            flex-basis: 160px;
        margin: 0 auto;
    }


/* PAGE */
.page-develop {
    background-image: url(../img/bg-develop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 89px 0;
    }

.page-stat {
    background-image: url(../img/bg-stat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.page-about-me {
    background-image: url(../img/bg-aboutme.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0 38px;
}


.page-project {
    background-image: url(../img/bg-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0;
}


.page-footer {
    background-image: url(../img/bg-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0; 
}




@media (max-width:960px) {
    .flex-sitemap {display: none;}
    .square-footer-social {display: none;}
    .maps { width: 720px;  }

    .page-about-me {display: none;}
    .page-about-me-smart {
        display: block;
        background-image: url(../img/bg-skills-smart.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 77px 0;
    }
    .box-about-img {display: none;}
    .box-about-content {
        text-align: center;
        width: 100%; 
        margin: 0 auto;
        padding: 61px 5px 25px;
    }
    }
    @media (max-width:820px) {
    .title-h1-18 { font-size: 15px; }
    .title-h1-18 span { font-size: 14px;}
    .title-h1-15-footer { font-size: 14px;}
    
    .square-footer-contact {padding-bottom: 11px;}
    .square-footer {
    -ms-flex-preferred-size: 250px;
    flex-basis: 187px;
    margin: 0 auto;
    padding-right: 5px;
    }
    @media (max-width: 760px){
       .box-stat { width: 100%; margin: 0 auto; padding: 42px 5px; }  
        .box-develop {  width: 100%; margin: 0 auto; padding: 0 5px; } 
        .box-form-content {  width: 100%; margin: 0 auto; padding: 0 5px; } 
    }
  
    @media (max-width:560px) {
    .box-header { padding: 34px 5px;} 
    }

    @media (max-width: 420px) {
    .box-stat {
        width: 300px;
        margin: 0 auto; }
    }

      @media (max-width:350px) {
    .title-h1-18 { font-size: 14px; }
    .title-h1-18 span { font-size: 13px;}
    .title-h1-15-footer { font-size: 13px;}  }